.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }


body {
    background-color: #DCCCA3 ;
}

.fivedayforecast {
    background-color: #ce6a85;
}





